<!DOCTYPE html>
<html lang="en">
   <head>
      <meta xhttp-equiv="refresh" content="1">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Trip Planner</title>
      <!-- Bootstrap core CSS -->
      <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom fonts for this template -->
      <link href="assets/vendor/fontawesome/css/all.min.css" rel="stylesheet">
      <link href="assets/vendor/csshake/csshake.min.css" rel="stylesheet">
      <link href="assets/css/style.css" rel="stylesheet">

        <nav class="navbar navbar-expand-md">
           <a class="navbar-brand" href="?page=home">Trip Taker</a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarCollapse">
             <ul class="navbar-nav ml-auto">
               <li class="nav-item">
                 <a class="nav-link" href="?page=home"><i class="fas fa-home"></i> Home</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="?page=login"><i class="fas fa-user"></i> Login</a>
               </li>
               <li class="nav-item active">
                 <a class="nav-link" href="?page=cart"><i class="fas fa-shopping-cart"></i> Cart</a>
               </li>
             </ul>
           </div>
         </nav>

   </head>
   <body>

    <div class="page-breaker"></div>

     <div class="container">
       <div class="row">
         <div class="col-md-10">
            <div class="invoice">
              <h1>Cart</h1>
              <div class="table-responsive">
              <table class="table invoice-item">
                <tr>
                  <th>Option</th>
                  <th>Item</th>
                  <th style="width: 100%">Notes</th>
                  <th>Qty</th>
                  <th>Price</th>
                </tr>
                <tr>
                  <td><i class="fas fa-times"></i></td>
                  <td>Plane Tickets</td>
                  <td>Southwest Airlines, Round Trip 09/23/18 &amp; 09/30/18</td>
                  <td>2</td>
                  <td>$814.54</td>
                </tr>
                <tr>
                  <td><i class="fas fa-times"></i></td>
                  <td>Hotel Stay</td>
                  <td>Marriott 7 Days 6 Nights</td>
                  <td>1</td>
                  <td>$1,414.86</td>
                </tr>
                <tr>
                  <td><i class="fas fa-times"></i></td>
                  <td>Car Rental</td>
                  <td>Enterprise 7 Day Rental (Unlimited Miles)</td>
                  <td>1</td>
                  <td>$314.06</td>
                </tr>
                <tr class="invoice-subtotal">
                  <td colspan="3">Subtotal</td>
                  <td colspan="2">$2,543.46</td>
                </tr>
                <tr class="invoice-tax">
                  <td colspan="3">Tax</td>
                  <td colspan="2">$178.0422</td>
                </tr>
                <tr class="invoice-total">
                  <td colspan="3">Total</td>
                  <td colspan="2">$2,721.5022</td>
                </tr>
              </table>
              </div>
              <button class="btn btn-primary">Checkout</button>
              <button class="btn btn-danger">Cancel</button>
              <div style="clear: both;"></div>
            </div>
         </div>
         <div class="col-md-2">
          <div class="cart-side">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
            dolore magna aliqua. Morbi tincidunt augue interdum velit euismod in pellentesque massa. Euismod in 
            pellentesque massa placerat duis ultricies lacus sed. Fermentum et sollicitudin ac orci phasellus. 
          </div>
         </div>
        </div>
     </div>
  

      <div class="page-breaker"></div>

      <footer class="container-fluid banner">
        <div class="container">
         <div class="row">
            <div class="col-md-3 xs-hidden">
               <ul class="foot-links">
                  <span class="foot-header">Quick Links:</span>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Employees</a></li>
                  <li><a href="#">Privacy Policy</a></li>
               </ul>
            </div>
            <div class="col-md-3 xs-hidden">
               <ul class="foot-links">
                  <span class="foot-header">Affiliation:</span>
                  <li><a href="#">Website 1</a></li>
                  <li><a href="#">Website 2</a></li>
                  <li><a href="#">Website 3</a></li>
               </ul>
            </div>
            <div class="col-md-3 social-cell">
               <span class="foot-header">Social Links:</span>
               <a href="#"><img src="assets/gfx/social/if_facebook_circle_color_107175.svg"></a>
               <a href="#"><img src="assets/gfx/social/if_google_circle_color_107180.svg"></a>
               <a href="#"><img src="assets/gfx/social/if_linkedin_circle_color_107178.svg"></a>
               <a href="#"><img src="assets/gfx/social/if_tumblr_circle_color_107171.svg"></a>
            </div>
            <div class="col-md-3">
               <span class="foot-header">Our Location:</span>
               44444 Yucaipa Blvd<br>
               Yucaipa CA, 92399<br>
               (909) 999 - 9999<br>
            </div>
         </div>
       </div>
      </footer>


      <!-- Bootstrap core JavaScript -->
      <script src="assets/vendor/jquery/jquery-3.3.1.js"></script>
      <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="assets/vendor/csshake/plugin/rokocb.js"></script>
      <!-- Custom JavaScript -->
      <script src="assets/js/functions.js"></script>
      <script type="text/javascript">
                is_new_user = false;
                function toggle_reg(){
                  if( is_new_user )
                  {
                    $("#register-card").slideUp();
                    $("#login-card").slideDown();
                    $("#reg-toggle").html("Register");
                    is_new_user = false;
                  } else {
                    h = $("#login-card").height();
                    $("#register-card").height(h);
                    console.log(h);
                    $("#login-card").slideUp();
                    $("#register-card").slideDown();
                    $("#reg-toggle").html("Login");

                    is_new_user = true;
                  }
                }
      </script>
   </body>
</html>