<!DOCTYPE html>
<html lang="en">
   <head>
      <meta xhttp-equiv="refresh" content="1">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Trip Planner</title>
      <!-- Bootstrap core CSS -->
      <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom fonts for this template -->
      <link href="assets/vendor/fontawesome/css/all.min.css" rel="stylesheet">
      <link href="assets/vendor/csshake/csshake.min.css" rel="stylesheet">
      <link href="assets/css/style.css" rel="stylesheet">

        <nav class="navbar navbar-expand-md">
           <a class="navbar-brand" href="?page=home">Trip Taker</a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarCollapse">
             <ul class="navbar-nav ml-auto">
               <li class="nav-item active">
                 <a class="nav-link" href="?page=home"><i class="fas fa-home"></i> Home</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="?page=login"><i class="fas fa-user"></i> Login</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="?page=cart"><i class="fas fa-shopping-cart"></i> Cart</a>
               </li>
             </ul>
           </div>
         </nav>

   </head>
   <body>

      
      <div class="first-div">
         <div class="fd-container">Plan your next vacation with Trip Planner</div>
      </div>

      <div class="page-breaker"></div>


      <div class="second-div container-fluid">
         <div class="container">
         <div class="row">
            <div class="col-md-8">
               <h3>Plan your next family vacation and save with Trip Planner</h3>
               <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                  dolore magna aliqua. Morbi tincidunt augue interdum velit euismod in pellentesque massa. Euismod in 
                  pellentesque massa placerat duis ultricies lacus sed.
               </p>
               <button class="btn btn-primary xs-hidden">Learn More</button>
            </div>
            <div class="col-md-4">
               <img id="vacation" src="assets/gfx/pexels/sm/beach-blue-sky-cheerful-452738.jpg" style="float: left;max-width: 100%;">
            </div>
         </div>
         </div>
      </div>

    <!-- Destination Section -->
    <section id="portfolio" class="container portfolio-section text-center">
        <div class="row">
            <div class="col-lg-12">
                <h2>Destinations</h2>
                <div class="row">
                    <div onclick="window.location='?page=location&lid=2'" class="col-md-5 portfolio-section-cell"><div class="psi portfolio-section-img2"><div class="port-cont">Grand Canyon Arizona</div></div></div>
                    <div onclick="window.location='?page=location&lid=1'" class="col-md-3 portfolio-section-cell"><div class="psi portfolio-section-img1"><div class="port-cont">Cliffs of Utah</div></div></div>
                    <div onclick="window.location='?page=location&lid=8'" class="col-md-2 portfolio-section-cell"><div class="psi portfolio-section-img8"><div class="port-cont">Las Vegas Nevada</div></div></div>
                    <div onclick="window.location='?page=location&lid=9'" class="col-md-2 portfolio-section-cell"><div class="psi portfolio-section-img9"><div class="port-cont">Space Needle Oregon</div></div></div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="row" style="position: relative;">
                            <div onclick="window.location='?page=location&lid=12'" class="col-md-4 portfolio-section-cell"><div class="psi portfolio-section-img12"><div class="port-cont">Hollywood California</div></div></div>
                            <div onclick="window.location='?page=location&lid=11'" class="col-md-4 portfolio-section-cell"><div class="psi portfolio-section-img11"><div class="port-cont">Miami Florida</div></div></div>
                            <div onclick="window.location='?page=location&lid=10'" class="col-md-4 portfolio-section-cell"><div class="psi portfolio-section-img10"><div class="port-cont">The Keys Florida</div></div></div>
                            <div onclick="window.location='?page=location&lid=7'" class="col-md-3 portfolio-section-cell"><div class="psi portfolio-section-img7"><div class="port-cont">Manhattan New York</div></div></div>
                            <div onclick="window.location='?page=location&lid=6'" class="col-md-3 portfolio-section-cell"><div class="psi portfolio-section-img6"><div class="port-cont">New York, New York</div></div></div>
                            <div onclick="window.location='?page=location&lid=5'" class="col-md-6 portfolio-section-cell"><div class="psi portfolio-section-img5"><div class="port-cont">Long Beach California</div></div></div>
                        </div>
                    </div>
                    <div onclick="window.location='?page=location&lid=3'" class="col-md-3 portfolio-section-cell" style="position: relative;">
                        <div class="psi portfolio-section-img3"><div class="port-cont">Tall Building</div></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


      <div class="page-breaker"></div>


      <div class="second-div container-fluid" style="min-height: 33vh;">
         <div class="container" style="margin:auto;">
         <div class="row">
            <div class="col-md-4">
               <img id="gpsimg" src="assets/gfx/gps.png" style="float: left;height: 10vh;">
            </div>
            <div class="col-md-8">
               <h3>Check out the Mobile App</h3>
               <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                  dolore magna aliqua. Morbi tincidunt augue interdum velit euismod in pellentesque massa. Euismod in 
                  pellentesque massa placerat duis ultricies lacus sed.
               </p>
               <button class="btn btn-primary xs-hidden">Learn More</button>
            </div>
         </div>
         </div>
      </div>

      <div class="page-breaker"></div>


      <div class="container-fluid" id="blurb" style="min-height: 33vh;font-size: 1.2em;">
         <div class="container" style="margin:auto;">
         <div class="row">
            <div class="col-md-12">
               <img src="assets/gfx/pexels/sm/couple-home-house-1288482.jpg" class="rounded-circle rimg">
               <h3>Perfect Vacation for Honeymoons &amp; Anniversaries</h3>
               <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                  dolore magna aliqua. Morbi tincidunt augue interdum velit euismod in pellentesque massa. Euismod in 
                  pellentesque massa placerat duis ultricies lacus sed. Fermentum et sollicitudin ac orci phasellus. 
                  Velit laoreet id donec ultrices tincidunt arcu. Aenean vel elit scelerisque mauris pellentesque pulvinar 
                  pellentesque habitant morbi. Arcu dui vivamus arcu felis bibendum ut tristique et. Viverra mauris in 
                  aliquam sem fringilla ut morbi tincidunt augue. Dictum at tempor commodo ullamcorper a lacus vestibulum 
                  sed arcu. Cursus risus at ultrices mi tempus imperdiet nulla. Morbi tincidunt augue interdum velit. 
                  Dolor purus non enim praesent elementum facilisis leo vel. Gravida cum sociis natoque penatibus.
               </p>
               <p>
                  Eleifend mi in nulla posuere sollicitudin aliquam ultrices. In cursus turpis massa tincidunt dui ut 
                  ornare lectus sit. Ullamcorper morbi tincidunt ornare massa eget egestas purus viverra. Sed velit 
                  dignissim sodales ut eu sem integer vitae justo. Velit laoreet id donec ultrices tincidunt arcu non. 
                  Turpis in eu mi bibendum neque egestas. Id leo in vitae turpis massa. Consectetur adipiscing elit 
                  pellentesque habitant morbi tristique senectus et. Gravida quis blandit turpis cursus. Diam ut 
                  venenatis tellus in metus vulputate eu. Pellentesque habitant morbi tristique senectus et netus et 
                  malesuada fames. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Sed cras ornare arcu 
                  dui vivamus arcu felis bibendum. Eu nisl nunc mi ipsum faucibus vitae aliquet. Condimentum mattis 
                  pellentesque id nibh. Et leo duis ut diam. Diam vulputate ut pharetra sit amet. Nunc mattis enim ut 
                  tellus elementum sagittis.
               </p>
            </div>
         </div>
         </div>
      </div>

      <div class="page-breaker"></div>

      <div class="container-fluid newsletter">
         <div class="container">
         <div class="row">
            <div class="col-md-12">
               <form>
                 <div class="form-row align-items-center">
                   <div class="col-sm-3 my-1">
                     <label class="sr-only" for="inlineFormInputName">Name</label>
                     <input type="text" class="form-control" id="inlineFormInputName" placeholder="Your Name">
                   </div>
                   <div class="col-sm-3 my-1">
                     <label class="sr-only" for="inlineFormInputGroupUsername">Email</label>
                     <div class="input-group">
                       <div class="input-group-prepend">
                         <div class="input-group-text">@</div>
                       </div>
                       <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Email">
                     </div>
                   </div>
                   <div class="col-auto my-1">
                     <button type="submit" class="btn btn-primary">Sign up for newsletter</button>
                   </div>
                 </div>
               </form>
            </div>
         </div>
         </div>
      </div>

      <div class="page-breaker"></div>


      <footer class="container-fluid banner">
        <div class="container">
         <div class="row">
            <div class="col-md-3 xs-hidden">
               <ul class="foot-links">
                  <span class="foot-header">Quick Links:</span>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Employees</a></li>
                  <li><a href="#">Privacy Policy</a></li>
               </ul>
            </div>
            <div class="col-md-3 xs-hidden">
               <ul class="foot-links">
                  <span class="foot-header">Affiliation:</span>
                  <li><a href="#">Website 1</a></li>
                  <li><a href="#">Website 2</a></li>
                  <li><a href="#">Website 3</a></li>
               </ul>
            </div>
            <div class="col-md-3 social-cell">
               <span class="foot-header">Social Links:</span>
               <a href="#"><img src="assets/gfx/social/if_facebook_circle_color_107175.svg"></a>
               <a href="#"><img src="assets/gfx/social/if_google_circle_color_107180.svg"></a>
               <a href="#"><img src="assets/gfx/social/if_linkedin_circle_color_107178.svg"></a>
               <a href="#"><img src="assets/gfx/social/if_tumblr_circle_color_107171.svg"></a>
            </div>
            <div class="col-md-3">
               <span class="foot-header">Our Location:</span>
               44444 Yucaipa Blvd<br>
               Yucaipa CA, 92399<br>
               (909) 999 - 9999<br>
            </div>
         </div>
       </div>
      </footer>


      <!-- Bootstrap core JavaScript -->
      <script src="assets/vendor/jquery/jquery-3.3.1.js"></script>
      <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="assets/vendor/csshake/plugin/rokocb.js"></script>
      <!-- Custom JavaScript -->
      <script src="assets/js/functions.js"></script>
   </body>
</html>